
.app-circle {
  position: absolute;
  top: calc(50vh - 20rem);
  left: calc(50% - 20rem);
  margin: 0;
  backface-visibility: hidden;
}

.loading .app-circle {
  animation-iteration-count: 1;
  animation-duration: 1s;
  transform-style: preserve-3d;
}

.loading #user-form {
  animation-name: spinner;
  transform: rotateY(180deg);
}

#user-form-back {
  transform: rotateY(-180deg);
}

.loading #user-form-back {
  animation-name: spinner-back;
  transform: rotateY(0deg);
}

@keyframes spinner {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@keyframes spinner-back {
  from {
    transform: rotateY(-180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}