body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 3rem;
  font-weight: 100;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}
